body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8e44ad, #9b59b6);
    font-family: Arial, sans-serif;
}

#buttons {
    display: flex;
    gap: 30px;
}

.btn {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #5e3370;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #4b2759;
}

.stop {
    background-color: #3a1f44;
}
